/.idea/modules
/.idea/libraries
/.idea/workspace.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/build
.gradle

# Stores absolute path of SDK
/local.properties

# Stores absolute paths
/.idea/caches

# Mac OS files
.DS_Store

# Java bytecode files
*.class

# Application files
*.apk
*.aab
/app/release

# Private Keys
AdKeys.kt
BillingProductIds.kt
SKUS.kt
