<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Change allowBackup to true, if needed in the future -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsPictureInPicture="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This is critical b/c default is 16/9, app does not stretch to fill screens of phones wider than this. -->
        <meta-data
            android:name="android.max_aspect"
            android:value="3" />

        <!-- Disable crashlytics by default so that I can conditionally enable it in onCreate. -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7c414c329f4e2ac275ac7a0c78f70f79025b5206" />

    </application>

</manifest>
